{% load static %}
<!-- Start About Area -->
<section class="about-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="about-image">
                    <img src="{% static 'Frontend/Images/Banner/about.png' %}" alt="About Me" class="img-fluid">
                </div>
            </div>
            <div class="col-lg-6 col-md-12">

            </div>
        </div>
    </div>
</section>
<!-- End About Area -->