{% load static %}
<!-- Start Banner Area -->
    <section class="site-banner">
        <div class="container">
            <div class="row">
                {% for data in data %}
                <div class="col-lg-6 col-md-12 site-title">
                    <h3 class="title-text color-text">
                        {{data.header}}
                    </h3>
                    <h1 class="title-text color-text">
                        {{data.judul}}
                    </h1>
                    <h4 class="title-text text-uppercase">
                        {{data.tentang}}
                    </h4>
                    <div class="site-buttons">
                        <div class="d-flex flex-row flex-wrap">
                            <button type="button" class="btn button primary-button mr-4">
                                Get CV
                            </button>
                            <button type="button" class="btn button secondary-button">
                                Hire Me
                            </button>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div class="col-lg-6 col-md-12 banner-images">
                    <img src="{% static 'Frontend/Images/Banner/banner.png' %}" alt="Banner Images" class="img-fluid">
                </div>
            </div>
        </div>
    </section>
<!-- End Banner Area -->
